@import url("./C&R/cabecalho.css");
@import url("./C&R/rodape.css");

@import url("./recentesCss/main.css");
@import url("./modelosCss/main.css");

:root {
    --branco: #fefefe;
    --cinza: #dbdbdb;
    --cinza-claro: #fff1ff;
    --cinza-secundario: #a5a5a5;
    --rosa-principal: #f4e6f4;
    --rosa-fonte: #e04e7f;

    --font-principal: "Poppins";
    }

body {
    background-color: var(--rosa-principal);
}

.botao {
    align-items: center;
    background: var(--rosa-fonte);
    border-radius: 10px;
    color: var(--branco);
    font-size: 18px;
    font-weight: bold;
    padding: 1em;
    margin-left: .5rem;
}