@import url("./C&R/cabecalho.css");
@import url("./C&R/rodape.css");

@font-face {
    font-family: "Bealtiful";
    src: url("../font/The\ Beautiful\ Secret.ttf") format("truetype");
}

:root {
    --branco: #fefefe;
    --cinza-escuro: #3b363b;
    --cinza-secundario: #9e9e9e;
    --rosa-principal: #f4e6f4;
    --rosa-fonte: #e04e7f;
    --rosa-nude: #f0d6ee;
    --rosa-sombra: #d46dd488;
    --sombra: rgba(105, 62, 100, 0.2);

    --font-principal: "Poppins";
    --font-logo: "Bealtiful";
    }

 body {
    background-color: var(--rosa-principal);
    scroll-behavior: smooth;
}

.botao {
    align-items: center;
    background: var(--rosa-fonte);
    border-radius: 10px;
    color: var(--branco);
    font-weight: bold;
    padding: 1em;
    margin-left: .5rem;
}
