@import url("./menu-sanduiche.css");

.cabecalho__container-imagem {
    width: 100%;
}

.logo-redesocial-titulo {
    display: none;
}

.cabecalho__container-lista {
    display: flex;
    justify-content: space-evenly;
}

.cabecalho__container-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalho__container-item:nth-child(8), .cabecalho__container-item:nth-child(9) {
    display: none;
}


.logo-redesocial {
    border-radius: 10px;
    transition: all;
    width: 30px;
}

.lista-ico {
    align-items: center;
    color: var(--rosa-fonte);
    display: flex;
    font-size: 1rem;
}

.some {
    display: none;
}

.pesquisa {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 12;
}

.pesquisa__input {
    border: 2px solid var(--rosa-fonte);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem 3rem;
    width: 100%;
} 

.pesquisa__input::placeholder {
    font-family: var(--font-principal);
    font-size: 15px;
}

.pesquisa__botao {
   display: none;
}

.pesquisa-background {
    opacity: .7;
}

.categorias__botao {
    display: none;
}

.cabecalho__barra {
    background-color: var(--branco);
    border-radius: 50px;
    display: flex;
    font-family: var(--font-principal);
    justify-content: space-around;
    margin: .5rem 1rem;
    padding: .3em;
}

.cabecalho__barra-link:nth-child(2) {
    border-left: 2px solid var(--cinza);
    border-right: 2px solid var(--cinza);
    padding: 0 1rem;
}

.cabecalho__barra-link.ativo {
    border-bottom: 2px dotted var(--rosa-fonte);
}

.contato {
    display: none;
}

.icone-rosa {
    color: var(--rosa-fonte);
}

.infomracoes__botao {
   background: var(--branco);
   border: 1.5px solid var(--rosa-fonte);
   border-radius: 60px;
   padding: .5rem;
}

.infomracoes__botao:nth-child(1) {
    position: absolute;
    right: .4rem;
    top: .4rem;
}

.infomracoes__botao:nth-child(2), 
.infomracoes__botao:nth-child(3) {
    display: none;
}

.infomracoes__botao:nth-child(4) {
    position: absolute;
    left: .4rem;
    top: .4rem;
    z-index: 11;
}

@media screen and (min-width: 500px) {
    .logo-redesocial {
        width: 40px;
    }

    .lista-ico {
        font-size: 1.3rem;
    }

    .infomracoes__botao {
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) {
    .logo-redesocial {
        width: 50px;
    }

    .lista-ico {
        font-size: 1.6rem;
    }

    .cabecalho__barra {
        font-size: 25px;
    }

    .cabecalho__barra-link:nth-child(2) {
        padding: 0 4rem;
    }

    .cabecalho__barra-link.ativo {
        border-bottom: 4px dotted var(--rosa-fonte);
    }

    .infomracoes__botao {
        font-size: 35px;
    }
}

@media screen and (min-width: 910px) {
    .logo-redesocial {
        width: 60px;
    }

    .lista-ico {
        font-size: 1.8rem;
    }


    .cabecalho__barra {
        font-size: 30px;
        margin: 1em;
    }

    .infomracoes__botao {
        font-size: 45px;
    }
}

@media screen and (min-width: 1200px){
    .cabecalho {
        border-bottom: 5px dotted var(--rosa-fonte);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    .cabecalho__container-imagem {
        width: 25vw;
    }

    .cabecalho__container-navegacao {
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .cabecalho__container-item:nth-child(8), 
    .cabecalho__container-item:nth-child(9) {
        display: flex;
    }

    .cabecalho__container-link {
        background: var(--branco);
        border-radius: 10px;
        display: flex;
        padding: .5em;
    }

    .cabecalho__container-link:hover {
        transition: .8s;
        transform: scale(1.2);
    }

    .logo-redesocial {
        width: 40px;
    }

    .logo-redesocial-titulo {
        color: var(--rosa-fonte);
        display: block;
        font-family: var(--font-principal);
        font-size: 18px;
        font-weight: bold;
        margin-top: .5em;
        margin-left: .3em;
    }

    .pesquisa {
        align-items: center;
        display: flex;
        grid-column: 2/3;
        grid-row: 1/2;
        justify-content: center;
        position: relative;
    }

    .pesquisa__input {
        border: 2px solid var(--rosa-fonte);
        border-radius: 10px;
        box-sizing: content-box;
        padding: 1rem 3rem;
        width: auto;
    } 

    .pesquisa__input::placeholder {
        font-family: var(--font-principal);
        font-size: 15px;
    }

    .pesquisa__botao {
        align-items: center;
        background: var(--rosa-fonte);
        border-radius: 10px;
        color: var(--branco);
        display: block;
        font-weight: bold;
        padding: 1.1rem;
        margin-left: .2rem;
    }

    .categorias__botao {
        display: initial;
    }

    .categorias {
        font-family: var(--font-principal);
        font-size: 30px;
        grid-column: 3/4;
        grid-row: 1/2;
        padding: .7rem 0 0 2rem;
        z-index: 1;
    }

    .categorias__botao {
        align-items: flex-start;
        background-color: var(--branco);
        border: 2px solid var(--rosa-fonte);
        border-radius: 10px;
        padding: .2rem 3rem;
    }

    .categorias__conteiner-lista:hover > .cabecalho__barra{
        display: flex;
    }

    .cabecalho__barra {
        background: var(--rosa-nude);
        border-radius: 5px;
        box-shadow: 10px 10px 10px var(--sombra);
        display: none;
        flex-direction: column;
        font-size: 25px;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 22vw;
    }

    .cabecalho__barra-item {
        padding: .25rem 0 .25rem 1rem;
        margin-top: .5rem;
    }

    .cabecalho__barra-item:hover{
        background: var(--branco);
    }

    .cabecalho__barra-link.ativo{
        border: none;
    }

   .informacoes__icones .infomracoes__botao{
       display: inline-block;
       position: initial;
    }

    .informacoes__icones{
        grid-column: 4/4;
        grid-row: 1/2;
        padding-top: .8rem;
    }

    .informacoes__icones{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .infomracoes__botao{
        font-size: 30px;
    }

    .infomracoes__botao:nth-child(4) {
        display: none;
    }

    .infomracoes__botao:hover {
        border: 2px dotted var(--rosa-fonte);
    }
}
